/* Author: Patrick Ingram
   Date: 10/15/2018
   Assignment: Chapter 6 ICP
*/

body {
	background-color: #C0C0C0;
	text-align: center;
}

h1 {
	color: lime;
}

form {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}
